<p>
  <button routerLink="/addReservation" class = "btn btn-sm" md-button> Add Reservation </button>
  <button class = "btn btn-sm" md-button (click)="getReservations()"> Get Reservations </button>
  
</p>



<form class="form">
  <input type = "text" class = "form-control" #peopleFirstNameField placeholder="First Name"/> 
  <input type = "text" class = "form-control" #peopleSecondNameField placeholder="Second Name">
  <input type = "text" class = "form-control" #hotelNameField placeholder="Hotel Name">
</form>



<button id = "detailsBtn" class = "btn btn-sm" md-button (click)="findReservation(peopleFirstNameField.value,
peopleSecondNameField.value, hotelNameField.value)"> Find </button>


<table class = "table table-striped">
  <tr>
    <!-- <th>ID</th> -->
    <th>Departure Date</th>
    <th>Return Date</th>
    <!-- <th>HotelId</th> -->
    <th>Hotel Name</th>
    <!-- <th>ClientId</th> -->
    <th>First Name</th>
    <th>Second Name</th>
    <th>Price</th>
    <th>Operations</th>
  </tr>
  <tr *ngFor="let reservation of reservations">
      <!-- <td>{{reservation.id}}</td> -->
      <td>{{reservation.departureDate}}</td>
      <td>{{reservation.returnDate}}</td>
      <!-- <td>{{reservation.hotelId}}</td> -->
      <td>{{reservation.hotel.name}}</td>
      <!-- <td>{{reservation.clientId}}</td> -->
      <td>{{reservation.client.firstName}}</td>
      <td>{{reservation.client.secondName}}</td>
      <td>{{reservation.price}}</td>
      <td><button id = "detailsBtn" class = "btn btn-sm" (click) = "setReservationSharedService(reservation)"
       routerLink="/reservationDetailsManagement">Details</button>
       <button id = "deleteBtn" class = "btn btn-sm" (click) = "deleteReservation(reservation)">Delete</button>
      </td>
  </tr>
</table>



<div #loader id="loader"></div>
<ng2-popup #popup></ng2-popup>