<p>TRIP DETAILS</p>
<table class = "table table-striped">
    <tr>
      <th>ID</th>
      <th>Destination</th>
      <th>Price</th>

    </tr>
    <tr>
    <td>{{tripDetailsSS.trip.id}}</td>
    <td>{{tripDetailsSS.trip.destination}}</td>
    <td>{{tripDetailsSS.trip.price}}</td>
    </tr>
</table>

<p>HOTELS INCLUDED</p>
<table class = "table table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Stars</th>
      <th>Country</th>
      <th>City</th>
      <th>Street</th>
      <th>HouseNumber</th>
    </tr>
    <tr *ngFor="let hotel of hotels">
        <td>{{hotel.id}}</td>
        <td>{{hotel.name}}</td>
        <td>{{hotel.stars}}</td>
        <td>{{hotel.country}}</td>
        <td>{{hotel.city}}</td>
        <td>{{hotel.street}}</td>
        <td>{{hotel.houseNumber}}</td>
    </tr>
  </table>  

  <div #loader id="loader"></div>