<nav class = "navbar navbar-inverse">

    <a routerLinkActive="active-link" class="navbar-brand" routerLink="/reservationManagement">Reservations</a>
    <a routerLinkActive="active-link" class="navbar-brand" routerLink="/clientManagement">Clients</a>
    <a routerLinkActive="active-link" class="navbar-brand" routerLink="/hotelManagement">Hotels</a>
    <a routerLinkActive="active-link" class="navbar-brand" routerLink="/airportManagement">Airports</a>
    <a routerLinkActive="active-link" class="navbar-brand" routerLink="/flightManagement">Flights</a>
    <a routerLinkActive="active-link" class="navbar-brand" routerLink="/insuranceManagement">Insurances</a>
    <a routerLinkActive="active-link" class="navbar-brand" routerLink="/tripManagement">Trips</a>
    <a routerLinkActive="active-link" class="navbar-brand" routerLink="/cashStats">Stats</a>
 
</nav>
<router-outlet></router-outlet>  