/*nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #607D8B;
  }
  nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }
  */
  /* .navbar-brand active {
    color: #039be5 !important;
  } */

 .navbar-brand:active{
   color:rgb(207, 207, 207);
 }
 .navbar-brand:selection{
  color:rgb(207, 207, 207);
}
.navbar-brand:hover{
  color:rgb(207, 207, 207);
}
.navbar-brand:focus{
  color:white;
}
.active-link{
  color: white;
}