.form-control {
  padding:10px;
  margin:15px 20px !important;
  width: 20%;
}
.alert-danger{
  /*padding:10px;*/
  margin:0px 20px !important;
  width:20%;
  height:70%;
  margin-bottom: 20px !important;
}
.btn-sm{
  padding:5px 10px;
  margin-left: 40px;
  border-radius: 4px;
  margin-bottom: 15px !important;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .panel{
    width: 60%;
    margin-left: 1cm;
    border-color: rgb(155, 155, 155);
  }
  .panel-heading{
    font-size: 15px;
    background-color: rgb(155, 155, 155);
    color: #444444;
    border-color: rgb(155, 155, 155);
    /* text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc; */
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight: 900;
    background: #CCCCCC;
  }
  