<form [formGroup]='complexForm' novalidate>

  <select formControlName = 'paymentTypeControl' #paymentType class = "form-control">
    <option>Card</option>
    <option>Cash</option>
    <option>Transfer</option>
  </select>
  <div *ngIf="!complexForm.controls['paymentTypeControl'].valid && complexForm.controls['paymentTypeControl'].touched" class="alert alert-danger">Payment type is required</div>

  Payment Date:
  <input formControlName = 'dateControl' style="height: 40px" class = "form-control" #paymentDate type="date">
  <div *ngIf="!complexForm.controls['dateControl'].valid && complexForm.controls['dateControl'].touched" class="alert alert-danger">Date is required</div>

  Amount:
  <input formControlName='amountControl' class = "form-control" #amountField placeholder="Amount">
  <div *ngIf="!complexForm.controls['amountControl'].valid && complexForm.controls['amountControl'].touched" class="alert alert-danger">Amount is required and it has to be a float with max two decimal places</div>

</form>

<button class = "btn btn-sm" id = "addBtn" (click)="addPayment(paymentType.value, paymentDate.value, amountField.value)" [disabled]="!complexForm.valid">Add Payment</button>

<button class = "btn btn-sm" id = "cancelBtn" routerLink="/reservationDetailsManagement">Cancel</button>

<div #loader id="loader"></div>
<ng2-popup #popup></ng2-popup>